---
layout: landing-page
title: Solomon Rubin
---

<article id="intro" class="wrapper">

    <header class="special container" id="intro-inner">
        <h2>Solomon Rubin</h2>
        <div class="rule"></div>

        <div id="profile">
            <div class="image">
                <img class="lazy-load" data-src="assets/images/profile.jpg" alt="Solomon Rubin" width="150" height="150" />
            </div>
        </div>

        <p>
            {{ site.description }}
        </p>
        <ul class="buttons">
            {% for link in site.data.links %}
            <li>
                <a href="{{ link.link }}" alt="{{ link.title }}" target="_blank" class="button">
                    <span class="icon {{ link.icon }}"> </span>
                    <strong>{{ link.title }}</strong>
                </a>
            </li>
            {% endfor %}
        </ul>

    </header>
</article>

<article id="education" class="banner">
    <h2 class="hide">Validation Header</h2>
    <!-- Education -->
    <div id="education-inner">
        <section class="wrapper style2 container special">
            <header class="major">
                <h2><strong>Education</strong></h2>
            </header>
            <div class="row 50%">
                {% for school in site.data.education %}
                <div class="4u 12u(narrower)">

                    <section>
                        <span class="icon featured {{ school.icon }}"></span>
                        <header>
                            <h3>
                                {{ school.title }}
                                <br />
                                <small>{{ school.meta }}</small>
                            </h3>
                        </header>
                        <ul>
                            {% for item in school.desc %}
                            <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </section>

                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</article>


<!-- Experience -->
<article id="experience">
    <h2 class="hide">Validation Header</h2>
    <section id="experience-inner" class="container special">

        <header class="major">
            <h2><strong>Experience</strong></h2>
        </header>

        <!-- Skills -->
        <section id="skills" class="wrapper style3">
            <h2>Skills & Accomplishments</h2>
            <div class="row 50%">
                {% for skill in site.data.skills_accomplishments %}
                <div class="4u 12u(narrower)">

                    <section>
                        <span class="icon featured {{ skill.icon }}"></span>
                        <header>
                            <h3>{{ skill.title }}</h3>
                        </header>
                        <ul>
                            {% for item in skill.desc %}
                            <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </section>

                </div>
                {% endfor %}
            </div>
        </section> <!-- End skills -->

        <!-- Work -->
        <section id="work" class="wrapper style3">
            <h2>Work Experience</h2>
            {% assign count = 0 %}
            {% for work in site.data.work %}
            {% assign mod = count | modulo:2 %}
            {% if mod == 0 %}
            <div class="row">
            {% endif %}
                <div class="6u 12u(narrower)">
                    <section>
                        <a class="image featured"><img class="lazy-load" data-src="{{ work.img }}" height="300" alt="{{ work.title }}"/></a>
                        <header>
                            <h3>
                                {{ work.title }}
                                <br />
                                <small>{{ work.meta }}</small>
                            </h3>
                        </header>
                        <p>{{ work.desc }}</p>
                        {% if work.projects %}
                        <p>Project links:
                            {% for project in work.projects %}
                            <a href="{{ project.link }}" title="{{ project.title }}" target="_blank">{{ project.title }}</a>
                            {% endfor %}
                        </p>
                        {% endif %}
                    </section>
                </div>

            {% assign last = site.data.work | size | minus: 1 %}

            {% if mod == 1 or last == count %}
            </div>
            {% endif %}

            {% assign count = count | plus: 1 %}
            {% endfor %}

        </section> <!-- End Work -->

        <section id="projects" class="wrapper style3">
            <h2>Projects</h2>
            {% assign count = 0 %}
            {% for project in site.data.projects %}
            {% assign mod = count | modulo:2 %}
            {% if mod == 0 %}
            <div class="row">
            {% endif %}
                <div class="6u 12u(narrower)">
                    <section>
                        <a class="image featured"><img class="lazy-load" data-src="{{ project.img }}" height="300" alt="{{ project.title }}"/></a>
                        <header>
                            <h3>
                                {{ project.title }}
                                <br />
                            </h3>
                        </header>
                        <p>{{ project.desc }}</p>
                        {% if project.links %}
                        <p>Project links:
                            {% for link in project.links %}
                            <a href="{{ link.link }}" title="{{ link.title }}" target="_blank">{{ link.title }}</a>
                            {% endfor %}
                        </p>
                        {% endif %}
                    </section>
                </div>
            {% assign last = site.data.project | size | minus: 1 %}

            {% if mod == 1 or last == count %}
            </div>
            {% endif %}

            {% assign count = count | plus: 1 %}
            {% endfor %}
        </section> <!-- End Projects -->
    </section>
</article> <!-- End Resume -->

<!-- Activities -->
<article id="activities" class="banner">
    <h2 class="hide">Validation Header</h2>

    <div id="activities-inner">
        <section class="container wrapper style2">
            <header class="major">
                <h2><strong>Activities</strong></h2>
            </header>
            <div class="row 50%">
                {% for activity in site.data.activities %}
                <div class="4u 12u(narrower)">
                    <h3>{{ activity.title }}</h3>
                    <blockquote>
                        <ul>
                            {% for item in activity.items %}
                            <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </blockquote>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</article> <!-- End Activties -->

</div> <!-- end Page Wrapper -->


