                <section id="welcome" class="banner">
                    <!--
                        ".inner" is set up as an inline-block so it automatically expands
                        in both directions to fit whatever's inside it. This means it won't
                        automatically wrap lines, so be sure to use line breaks where
                        appropriate (<br />).
                    -->
                    <div class="inner wrapper">

                        <header>
                            <h2 class="logo"><span>S</span>olomon Rubin</h2>
                        </header>
                        <p>A highly skilled and experienced <br/>

                        <b>Cyber Security</b> and <b>Software Engineer</b>

                        </p>
                        <footer>
                            <ul class="buttons vertical">
                                <li><a href="#intro" class="button fit scrolly"><span class="icon fa-3 fa-angle-down"></span></a></li>
                            </ul>
                        </footer>

                    </div>

                </section>

