<footer id="footer">
    <div id="spacer"></div>
    <div id="footer-inner">
        <ul class="buttons">
            {% for link in site.data.links %}
            <li>
                <a href="{{ link.link }}" alt="{{ link.title }}" target="_blank" class="button special">
                    <span class="icon {{ link.icon }}"> </span>
                    <strong>{{ link.title }}</strong>
                </a>
            </li>
            {% endfor %}
        </ul>

        <p class="copyright">
        Copyright © <?php echo date("Y"); ?> Serubin.net
            | Provided by <a href="http://Serubin.net" title="Serubin.net">Serubin.net</a>.
            | <a href="https://secure.serubin.net/login/privacy" rel="nofollow" target="_blank" title="Privacy Policy">Privacy Policy</a>
        </p>
        <p class="copyright">Designed by: <a href="http://serubin.net"> Solomon Rubin</a> | Inspired by: <a href="http://html5up.net">HTML5 UP</a></p>
    </div>
</footer>

<script src="/assets/js/bundle.min.js"></script>

