    <head>
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="description" content="{{ site.description | strip_html | truncate: 297 }}" />
        <meta name="keywords" content="" />

        <meta property="og:title" content="Solomon Rubin" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://serubin.net/" />
        <meta property="og:description" content="{{ site.description | strip_html | truncate: 297}}" />
        <meta property="og:image" content="http://serubin.net/assets/images/preview.png" />

        <link rel="stylesheet" href="/assets/css/style.css" />

    </head>

