            <header id="header" class="alt">
                    <h1 id="logo"><a href="./" class="logo"><span>S</span>olomon Rubin</a></h1>
                    <nav id="nav">
                        <ul>
                            <li id="welcome-nav"><a class="navscroll" href="#welcome">Welcome</a>
                                <ul>
                                    <li><a class="scrolly" href="#intro">Introduction</a></li>
                                </ul>
                            </li>
                            <li id="education-nav"><a class="navscroll" href="#education">Education</a></li>
                            <li id="experience-nav"><a class="navscroll" href="#experience">Experience</a>
                                <ul>
                                    <li id="skills-nav"><a class="navscroll" href="#skills">Skills</a></li>
                                    <li id="work-nav"><a class="navscroll" href="#work">Work</a></li>
                                    <li id="projects-nav"><a class="navscroll" href="#projects">Projects</a></li>
                                </ul>
                            </li>
                            <li id="activities-nav"><a class="navscroll" href="#activities">Activities</a></li>
                            <li><a href="https://github.com/Serubin" title="Github" target="_blank" class="button special">Github</a></li>
                        </ul>
                    </nav>
                </header>
