/* Serubin.net SCSS
 * == Basic ==
 *
 * Handles core and utility tag styling
 */

body {
    background: $bg;

    position: relative; // For slideout footer
    z-index: 0;

    &.is-loading * {
        @include vendor('animation', 'none !important');
        @include vendor('transition', 'none !important');
    }
}



body, input, select, textarea {
    color: $fg;
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
}

a {
    @include vendor('transition', (
        'color 0.2s ease-in-out',
        'border-color 0.2s ease-in-out',
        'background-color 0.2s ease-in-out'
    ));
    color: $primary;
    text-decoration: none;
    border-bottom: dotted 1px;

    &:hover {
        border-bottom-color: transparent;
    }
}

strong, b {
    font-weight: 400;
}

em, i {
    font-style: italic;
}

small {
    font-size: .7em;
}

p, ul, ol, dl, table, blockquote {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 300;
    line-height: 1.75em;
    margin-bottom: 1em;
    text-transform: uppercase;

    a {
        color: inherit;
        text-decoration: none;
        border: 0;
    }
}

h2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

h3 {
    font-size: 1.15em;
    letter-spacing: 0.025em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border-top: solid 1px rgba(124, 128, 129, 0.2);
    border: 0;
    margin-bottom: 1.5em;
}

blockquote {
    border-left: solid 0.5em rgba(124, 128, 129, 0.2);
    font-style: italic;
    padding: 1em 0 1em 2em;
}

code {
    font-family: 'Source Code Pro', monospace;
    vertical-align: bottom;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 75%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

table {
    width: 100%;

    &.default {
        width: 100%;

        tbody {
            tr {
                border-bottom: solid 1px rgba(124, 128, 129, 0.2);
            }
        }

        td {
            padding: 0.5em 1em 0.5em 1em;
        }

        th {
            font-weight: 400;
            padding: 0.5em 1em 0.5em 1em;
            text-align: left;
        }

        thead {
            background: $bg;
            color: $fg;
        }
    }
}


.rule { // Nice horizontal rule
    width: 60%;
    margin: 1.4em auto;
    border-bottom: 1px solid rgba(124, 128, 129, 0.3);
}

.hide { // Display none
    display: none;
}
