@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Source+Code+Pro:300|PT+Sans|Roboto+Slab:200');

@font-face {
    font-family: 'LCALLIG';
    src: url('../fonts/LCALLIG.eot');
    src: local('../fonts/LCALLIG'), url('../fonts/LCALLIG.woff') format('woff'), url('../fonts/LCALLIG.ttf') format('truetype');
}
