/* Serubin.net SCSS
 * == Images ==
 *
 * Handles image and icon styling
 */

/* Images */
.image {
    border: 0;
    position: relative;
    &:before {
        background: url("../images/overlay.png");
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &.fit {
        display: block;
        img {
            display: block;
            width: 100%;
        }
    }

    &.featured {
        display: block;
        margin: 0 0 2em 0;
        img {
            display: block;
            width: 100%;
        }
    }
}

/* Icon */

.icon {
    position: relative;
    text-decoration: none;

    &:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    &.circle {
        @include vendor('transition', 'all 0.2s ease-in-out');
        border: 0;
        border-radius: 100%;
        display: inline-block;
        font-size: 1.25em;
        height: 2.25em;
        left: 0;
        line-height: 2.25em;
        text-align: center;
        text-decoration: none;
        top: 0;
        width: 2.25em;

        &:hover {
            top: -0.2em;
        }

        &.serubin {
            background: $serubin-yellow;
            color: white;
            overflow: hidden;
        }

        &.serubin:before {
            content: "S";
        }

        &.serubin:hover {
            top: -5em !important;
        }
    }

    &.featured {
        cursor: default;
        display: block;
        margin: 0 0 1.5em 0;
        opacity: 0.35;
        text-align: center;
        &:before {
            font-size: 5em;
            line-height: 1em;
        }
    }

    & > .label {
        display: none;
    }
}
