/* Serubin.net SCSS
 * == Lists ==
 *
 * Handles Lists styling
 */

ol {
    &.default {
        list-style: decimal;
        padding-left: 1.25em;

        li {
            padding-left: 0.25em;
        }
    }
}

ul {
    &.default {
        list-style: disc;
        padding-left: 1em;

        li {
            padding-left: 0.5em;
        }
    }

    &.icons {
        cursor: default;

        li {
            display: inline-block;
            line-height: 1em;
            padding-left: 0.5em;

            &:first-child {
                padding-left: 0;
            }
        }
    }

    &.featured-icons {
        cursor: default;
        margin: -0.75em 0 0 0;
        opacity: 0.35;
        overflow: hidden;
        position: relative;

        li {
            display: block;
            float: left;
            text-align: center;
            width: 50%;

            .icon {
                display: inline-block;
                font-size: 6.25em;
                height: 1.25em;
                line-height: 1.25em;
                width: 1em;
            }
        }
    }

    &.buttons {
        cursor: default;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            display: inline-block;
            padding: 0 0 0 1.5em;

            &:first-child {
                padding: 0;
            }
        }

        &.vertical {
            li {
                display: block;
                padding: 1.5em 0 0 0;

                &:first-child {
                    padding: 0;
                }
            }
        }
    }
}
