@include keyframes('reveal-header') {
    0% { top: -5em; }
    100% { top: 0; }
}

#header {
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    color: inherit;
    cursor: default;
    font-size: 0.8em;
    left: 0;
    padding: 1em 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    h1 {
        font-weight: 900;
        margin: 0;
        span {
            font-weight: 300;
        }
    }

    nav {
        letter-spacing: 0.075em;
        position: absolute;
        right: 1.5em;
        text-transform: uppercase;
        top: 0.75em;

        ul {
            li {
                display: inline-block;
                margin-left: 1.5em;

                > ul {
                    display: none;
                }

                a {
                    border: solid 1px transparent;
                    color: inherit;
                    display: inline-block;
                    line-height: 1em;
                    padding: 0.6em 0.75em;
                    text-decoration: none;
                }

                input[type="button"],
                input[type="submit"],
                input[type="reset"],
                .button {
                    font-size: 1em;
                    min-width: 0;
                    width: auto;
                }

                &.submenu {
                    > a {
                        @include icon;

                        &:before {
                            content: '\f107';
                            margin-right: 0.65em;
                        }
                    }
                }
                &.active,
                &:hover {
                    > a {
                        @include vendor('transition', 'all 0.2s ease-in-out');
                        background: rgba(188,202,206,0.15);
                    }
                }

                &.current {
                    > a {
                        font-weight: 900;
                    }
                }
            }
        }
    }
    &.reveal {
        @include vendor('animation', 'reveal-header 0.5s');
    }
    &.hide { /* Not in use */
        @include vendor('animation', 'hide-header 0.5s');
    }

    &.alt {
        @include vendor('animation', 'none');
        background: none;
        box-shadow: none;
        color: white;
        padding: 2em 2.5em;
        position: absolute;

        nav {
            right: 2.5em;
            top: 1.75em;

            ul {
                li {
                    &.active,
                    &:hover {
                        > a {
                            border: solid 1px;
                        }
                    }
                }
            }
        }
    }
}
/* Dropotron */


.dropotron {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.075);
    line-height: 2.25em;
    min-width: 13em;
    padding: 1em 0;
    text-transform: uppercase;
    margin-top: calc(-1em + 1px);
    border: 1px solid rgba(0, 0, 0, 0.075);

    &.level-0 {
        font-size: 0.7em;
        font-weight: 400;
        margin-top: 1.5em;

        &:before {
            border-bottom: solid 0.5em #fff;
            border-left: solid 0.5em transparent;
            border-right: solid 0.5em transparent;
            content: '';
            left: 0.75em;
            position: absolute;
            top: -0.45em;
        }
    }

    > li {
        border-top: solid 1px rgba(124, 128, 129, 0.2);

        > a {
            @include vendor('transition', 'none');
            color: inherit;
            text-decoration: none;
            padding: 0 1em;
            border: 0;
        }

        &:hover {
            > a {
                background: #44aaee;
                color: white;
            }
        }

        &:first-child {
            border-top: 0;
        }
    }
}
