
$primary:           #4ae; // Primary blue
$primary-light:     #69bbf1;

$serubin-yellow:    #ffcc04;

$g-degree:          45deg;
$g-color1:          #4ae;
$g-color2:          #0c6dff;
$g-color3:          #933eaf;

$b-gradient:        linear-gradient($g-degree, $g-color1 5%, $g-color2 30%, $g-color3);

$bg:                #f3f6fa; // Normal background (offwhite)
$fg:                #7c8081; // Normal text color (grey)

$banner-fg:         #fff; // Normal white background

$style3-fg:         #fff; // Foreground2 - White

$footer-bg:        #e8eef4; // Footer background


