.wrapper {
    margin-bottom: 5em;
    padding: 5em;

    // Style1: inherit background, contained, no padding
    &.style1 {
        padding: 0;
    }

    // Style2: Bluebackground, contained
    &.style2 {
        background-color: $primary;
        background-image: url("../images/light-bl.svg"), url("../images/light-br.svg");
        background-position: bottom left, bottom right;
        background-repeat: no-repeat, no-repeat;
        background-size: 25em, 25em;
        color: white;

        a {
            color: white;
        }

        blockquote {
            border-left: solid 0.5em rgba(255, 255, 255, 0.2);
        }

        .button{
            &:hover {
                background: rgba(255, 255, 255, 0.15) !important;
            }

            &special {
                background: white;
                border-color: white;
                color: $primary-light !important;
                &:hover {
                    border-color: inherit !important;
                    color: white !important;
                }
            }
        }
    }
    // Style3: White background, contained
    &.style3 {
        background: white;
        color: inherit;
    }

    // Style4: white background, contained
    &.style4 {
        background: white;
        color: inherit;
        padding: 4em;
    }
}

#page-wrapper { // For slideout footer
    position: relative;
    z-index: 1;
    background: white;
}

