@import './animations.scss';

.navigation {
  &.dark {
    --nav-fg-color: var(--fg-dark);
  }
  &.light {
    --nav-fg-color: var(--fg-light);
  }

  position: fixed;
  z-index: 1000;

  display: flex;

  width: 100%;
  height: 4em;

  color: var(--nav-fg-color);
  border-color: var(--nav-fg-color);
  opacity: 0;

  animation: fadeIn ease .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  transition: border-color ease .3s, color ease .3s;

  .left {
    flex-grow: 1;

    display: flex;
  }

  .right {
    flex-grow: 0;

    display: flex;
  }

  .linkList {
    display: flex;
    align-items: center;
    list-style: none;

    padding: 0;
    margin: 0;

    li {
      padding: 0 1em;
    }

    a {
      border-bottom: 1px solid rgba(255, 255, 255, 0);
      transition: border-bottom 0.3s ease;

      &:hover {
        border-bottom: 1px solid var(--nav-fg-color);
      }
    }
  }
}
