/* Serubin.net SCSS
 * == Blog Page ==
 *
 * Handles specific page/content section styling
 */
@import '../ghost';

body#blog {
  #header {
    @include vendor('animation', 'none');
  }

  #page-wrapper {
    background: #f3f6fa;
    padding-bottom: 2em;
  }

  .major {
    text-align: center;
    padding: 8em 0 3em 0;
  }

  .custom-banner{
    .button {
      width: inherit;
      margin: -1.5em 0;
      border: none;
      color: #535657;
      font-size: 24pt;
      position: absolute;
      min-width: 10em;
    }

    .button:hover {
      color: #848a8c;
      background: none;
    }

    .banner {
      background-position: center;
      background-repeat: no-repeat;
    }

    .banner .banner-inner {
      opacity: 0;
    }
    h2, h3 {
      text-align: center;
    }
  }

  #posts {
    display: grid;
    grid-template-columns: auto auto;

    article {
      padding: 1em;
    }

    .featured {
      display: flex;
      grid-column: 1 / 3;
      align-items: center;

      border-bottom: 1px solid rgba(124,128,129,0.3);
      margin-bottom: 3em;

      &.post {
          text-align: left;
      }
    }
  }

  .image {
    border: 0;
    border-radius: _size(border-radius);
    display: inline-block;
    position: relative;

    &:before {
      background: none;
    }

    &.main {
      display: block;
      margin: (_size(element-margin) * 2) 0;
      width: 100%;

      &:first-child {
        margin: 0 1em 4em 0;
      }

      img {
        width: 100%;
      }
    }
  }
}

#blog-inner {
  color: #535657;
}
