/* Serubin.net SCSS
 * == Blog Page ==
 *
 * Handles specific page/content section styling
 */

#blog-landing {
    #header {
        @include vendor('animation', 'none');
    }

    #page-wrapper {
        background: #f3f6fa;
        padding-bottom: 2em;
    }

    .major {
        text-align: center;
        padding: 8em 0 3em 0;
    }

    .custom-banner{
        .button {
            width: inherit;
            margin: -0.5em 0;
            border: none;
            color: #535657;
            font-size: 24pt;
            position: absolute;
        }

        .button:hover {
            background: none;
        }

        .banner {
            background-position: top center;
            background-repeat: no-repeat;
        }

        .banner .banner-inner {
            opacity: 0;
        }
        h2, h3 {
            text-align: center;
        }
    }
}

#blog-inner {
    color: #535657;
}
