/* Serubin.net SCSS
 * == Blog Landing Page ==
 *
 * Handles specific page/content section styling
 */

#blog-landing {
    #header {
        @include vendor('animation', 'none');
    }

    #page-wrapper {
        background: #f3f6fa;
        padding-bottom: 2em;
    }

    .major {
        text-align: center;
        padding: 8em 0 3em 0;
    }
}
