<!-- Footer -->
<footer id="footer">
  <div id="spacer"></div>
  <div id="footer-inner">
      <ul class="buttons">
          <li>
              <a href="/resume" alt="Resume" target="_blank" class="button special">
                  <span class="icon fa-file-text"> </span>
                  <strong>Resume</strong>
              </a>
          </li>

          <li>
              <a href="https://github.com/Serubin" alt="Github" target="_blank" class="button special">
                  <span class="icon fa-github"> </span>
                  <strong>Github</strong>
              </a>
          </li>

          <li>
              <a href="https://linkedin.com/in/serubin" alt="Linkedin" target="_blank" class="button special">
                  <span class="icon fa-linkedin"> </span>
                  <strong>Linkedin</strong>
              </a>
          </li>
      </ul>
      <p class="copyright">
      {{@site.title}} &copy; {{date format="YYYY"}}
          | Provided by <a href="http://Serubin.net" title="Serubin.net">Serubin.net</a>.
          | <a href="https://secure.serubin.net/login/privacy" rel="nofollow" target="_blank" title="Privacy Policy">Privacy Policy</a>
      </p>
      <p class="copyright">Designed by: <a href="http://serubin.net"> Solomon Rubin</a> | Inspired by: <a href="http://html5up.net">HTML5 UP</a></p>
  </div>
</footer>