---
layout: blog-landing
title: Thoughts and Ramblings
---


<article id="blog">
    <h2 class="hide">Validation Header</h2>
    <header class="major container banner">
        <h2><strong>{{ site.blog_title }}</strong></h2>
        <div class="rule"></div>
    </header>

    <!-- Education -->
    <section id="blog-inner" class="container special">
        <section class="wrapper style4">
            {% assign count = 0 %}
            {% for post in paginator.posts %}
                {% assign mod = count | modulo:2 %}
                {% if mod == 0 %}
                <div class="row 50%">
                {% endif %}
                    <div class="6u 12u(narrower)">
                        <section>
                            {% if post.head-image %}
                            <a href="{{ post.url }}" class="image featured"><img src="{{ post.head-image }}" height="300" alt="{{ post.title }}" /></a>
                            {% endif %}
                            <header>
                                <h3>
                                    {{ post.title }}
                                    <br />
                                    <small>{{ post.date | date_to_long_string }}</small>
                                </h3>
                            </header>
                            <p> {{ post.excerpt | strip_html | truncate: 250 }}</p>
                            <p>
                                <a href="{{ post.url }}">Continue Reading</a>
                            </p>
                        </section>
                    </div>

                {% assign last = paginator.posts | size | minus: 1 %}

                {% if mod == 1 or last == count %}
                </div>
                {% endif %}

                {% assign count = count | plus: 1 %}
                {% endfor %}

                <span>
                    {% if paginator.previous_page %}
                        {% if paginator.previous_page != 1 %}
                        <p style="display:inline; margin-right: 10px;">
                            <a href="/blog/page/{{ paginator.previous_page }}">Newer Posts</a>
                        </p>
                        {% endif %}

                        {% if paginator.previous_page == 1 %}
                        <p style="display:inline; margin-right: 10px;">
                            <a href="/blog/">Newer Posts</a>
                        </p>
                        {% endif %}
                    <!-- -->
                    {% endif %}

                    {% if paginator.next_page and paginator.next_page <= paginator.total_pages %}

                    <p style="display:inline; margin-right: 10px;">
                        <a href="/blog/page/{{ paginator.next_page }}">Older Posts</a>
                    </p>
                    {% endif %}
                </span>

            </section>
    </section>
</article>

