/* Narrow */
@include breakpoint(narrow) {

	/* Basic */

	body, input, select, textarea {
		font-size: 13pt;
		letter-spacing: 0.025em;
		line-height: 1.5em;
	}

	/* Section/Article */

	header{
		&.major {
			padding-bottom: 1em;
		}

		&.special {
			padding-left: 2.5em;
			padding-right: 2.5em;
		}
	}

	footer {
		.major {
			padding-top: 1.5em;
		}
	}

	/* Wrapper */

	.wrapper {
		margin-bottom: 3em;
		padding: 3em 2.5em;
	

		&.special {
			br {
				display: none;
			}
		}

		&.style1 {
			padding: 0 2.5em;
		}

		&.style2 {
			background-size: 15em;
		}

		&.style4 {
			padding: 2.5em;
		}
	}

	/* Banner */

	.banner {
		background-size: auto, cover;
	}
	
}
