/* Normal */
@include breakpoint(normal) {
	/* Basic */
	body, input, select, textarea {
		font-size: 13pt;
		letter-spacing: 0.025em;
		line-height: 1.65em;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.5em;
	}

	/* Section/Article */

	header {
		.major {
			padding-bottom: 1.5em;
		}
	}

	footer {
		.major {
			padding-top: 2em;
		}
	}

/* Wrapper */

	.wrapper {
		margin-bottom: 4em;
		padding: 4em 3em;
	

		&.style4 {
			padding: 3em;
		}
	}

/* Header */

	#header nav ul li {
		margin-left: 1em;
	}

/* Footer */

	#footer #footer-inner{
		padding: 4em;
	}

}
