/* Wide */
@include breakpoint(wide) {
	/* Basic */

	body, input, select, textarea {
		font-size: 14pt;
	}

	/* Section/Article */

	header {
		&.special {
			padding-top: 5.5em;
			margin-bottom: 4em;
		}
	}
}
