<!DOCTYPE HTML>
<!--
    Designed by Solomon Rubin.

    Orignally: Twenty by HTML5 UP

    Free for personal and commercial use under the CCA 3.0 license
-->
<html>

    {% include head.html %}
    <body class="index" id="serubin_net">

       <div id="page-wrapper">
            <!-- Header -->
            {% include header.html %}

            <!-- Banner -->
            {% include banner.html %}
            {{ content }}
        </div>

        <!-- Footer -->
        {% include footer.html %}
    </body>
</html>
